{% extends 'layout.html.twig' %}

{% block main %}                                
 <form name="form" method="post">
 <div id="form">
 <div class="form-group">
    <label>Introduce una cadena:</label>
    <input type="text" name="cadena" class="form-control"></input>
    </div>
     <div class="form-group">
   <button type="submit" id="form_save" name="form[save]" class="btn-primary btn">Buscar</button>
    </div>
   </div>
 </form>
 {% for libro in libros %}
    <ul>
    <li><a href="{{ path('ficha_libro',{'isbn':libro.isbn}) }}">{{ libro.titulo }}</a>{% if is_granted('ROLE_ADMIN') %} <a href="{{ path('editar',{'isbn':libro.isbn}) }}">editar</a> <a href="{{ path('eliminar',{'isbn':libro.isbn}) }}">eliminar</a></li>{% endif %}
    </ul>
    {% endfor %}
{% endblock %}