{% extends 'base.html.twig' %}
{% block body %}
    {% block header %}
        <header> 
			<h1>Biblioteca particular</h1> 
		</header> 
    {% endblock %}

    {% block nav %}
        <nav> 
			<ul> 
				<li><a href="{{ path('inicio') }}">inicio</a></li> 
				<li><a href="{{ path('libros') }}">ver libros</a></li>		
				<li><a href="{{ path('nuevo') }}">nuevo libro</a></li>			
				<li><a href="{{ path('buscar') }}">buscar libro</a></li>			
			</ul>
		</nav> 
    {% endblock %}

    {% block main %}


    {% endblock %}
    
    {% block footer %}
        <footer> 
			- Desarrollo Web en Entorno Servidor 2019/2020 - 
		</footer> 
    {% endblock %}

{% endblock %}